.font {
  font-family: 'Nunito', sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}
header {
  /* border: red solid 1px; */
  background-image: url("/img/cover.jpeg");
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #F1F3F2;
  display: flex;
  flex-direction: column;
}
header .title {
  margin-top: 0;
  border: yellow solid 1px;
  display: flex;
  width: 100%;
  height: 85%;
  justify-content: center;
}
header .title h2 {
  color: #F1F3F2;
  width: 50%;
  font-size: 4rem;
  /* border: red solid 1px;  */
  text-align: center;
}
header .title h2 span {
  font-style: italic;
  font-weight: bolder;
}
* {
  box-sizing: border-box;
}
.container {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}
header {
  /* border: red solid 1px; */
  color: #F1F3F2;
  display: flex;
  width: 100%;
  background-color: #235B2D;
}
header h1 {
  padding-left: 1rem;
  width: 30%;
  /* border: red solid 1px;  */
  margin-top: 1rem;
}
header a {
  color: #F1F3F2;
  text-decoration: none;
}
header a:hover {
  color: #fff;
}
.signup-nav {
  height: 15%;
  display: flex;
  width: 100%;
  background-color: rgba(48, 54, 49, 0.7);
}
.signup-nav h1 {
  width: 30%;
  margin-top: 0;
  padding-top: 0.5rem;
}
.signup-nav h1 a {
  color: #F1F3F2;
  text-decoration: none;
}
.signup-nav h1 a:hover {
  color: #fff;
}
.signup-nav nav {
  width: 70%;
}
.signup-nav nav ul {
  /* border: yellow solid 1px; */
  margin-top: 0;
  display: flex;
  justify-content: space-around;
}
.signup-nav nav ul li {
  list-style-type: none;
  padding: 0.5rem;
  margin-top: 1rem;
  /* border: hotpink 1px solid; */
}
.signup-nav nav ul li a {
  color: #F1F3F2;
  text-decoration: none;
}
.signup-nav nav ul li a:hover {
  color: #fff;
}
.about-nav {
  /* border: blue 1px solid; */
  width: 70%;
}
.about-nav ul {
  /* border: yellow solid 1px; */
  margin-top: 0;
  display: flex;
  justify-content: space-around;
}
.about-nav ul li {
  list-style-type: none;
  padding: 0.5rem;
  margin-top: 1rem;
  /* border: hotpink 1px solid; */
}
.about-nav ul li a {
  color: #F1F3F2;
  text-decoration: none;
}
.about-nav ul li a:hover {
  color: #fff;
}
.title {
  margin-top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}
.title h2 {
  color: #F1F3F2;
  width: 50%;
  font-size: 4rem;
  /* border: red solid 1px;  */
  text-align: center;
}
.title h2 span {
  font-style: italic;
  font-weight: bolder;
}
.intro-text {
  width: 45%;
  margin: 3rem auto;
}
.intro-text p {
  line-height: 1.5rem;
}
.intro-text button {
  margin-top: 2rem;
  width: 100%;
  padding: 0.5rem 0;
  color: #F1F3F2;
  background-color: #235B2D;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}
h2 {
  border: red 1px solid;
  margin: 1rem 0 0 1rem;
}
