.font {
  font-family: 'Nunito', sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}
header {
  /* border: red solid 1px; */
  color: #F1F3F2;
  display: flex;
  width: 100%;
  background-color: #235B2D;
}
header h1 {
  padding-left: 1rem;
  width: 30%;
  /* border: red solid 1px;  */
  margin-top: 1rem;
}
nav {
  /* border: blue 1px solid; */
  width: 70%;
}
nav ul {
  /* border: yellow solid 1px; */
  margin-top: 0;
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style-type: none;
  padding: 0.5rem;
  margin-top: 1rem;
  /* border: hotpink 1px solid; */
}
nav ul li a {
  color: #F1F3F2;
  text-decoration: none;
}
nav ul li a:hover {
  color: #fff;
}
.title {
  margin-top: 0;
  background-image: url("/img/cover.jpeg");
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  justify-content: center;
}
.title h2 {
  margin-top: 5.5rem;
  color: #F1F3F2;
  width: 50%;
  font-size: 4rem;
  /* border: red solid 1px;  */
  text-align: center;
}
.title h2 span {
  font-style: italic;
  font-weight: bolder;
}
.intro-text {
  width: 45%;
  margin: 0 auto;
}
.intro-text p {
  line-height: 1.5rem;
}
.intro-text button {
  width: 100%;
  padding: 0.5rem 0;
  color: #F1F3F2;
  background-color: #235B2D;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}
