.intro-text {
    width: 45%;
    margin: 0 auto;

    p {
        line-height: 1.5rem;
    }

    button {
        width: 100%;
        padding: .5rem 0;
        color: @white;
        background-color: @primary;
        text-transform: uppercase;
        .font(); 
        font-weight: 600;
        
    }
}