nav {
    /* border: blue 1px solid; */ 
    width: 70%;

    ul {
        /* border: yellow solid 1px; */
        margin-top: 0;
        display: flex; 
        justify-content: space-around;
    
        li {
            list-style-type: none;
            padding: .5rem;
            margin-top: 1rem;
            /* border: hotpink 1px solid; */ 

            
            a {
                color: @white; 
                text-decoration: none;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}
