.team {
    background-image: url('/img/about-bg.png'); 
    background-repeat: no-repeat;
    // background-size: 100% 80%;
    background-size: contain; 
    background-position: right bottom;
    background-color: #FAFAFA;
    height: 100vh; 
    .flexcolumn(); 
    h2 {
        margin: 1rem 0 0 1rem;
        font-size: 1.5rem; 
    }
    .gallery {
        .flexrow(); 
        flex-wrap: wrap;
        margin-top: 1rem;
        // border: hotpink 1px solid;
        justify-content: space-around;
    }
}

.card {
    padding: .5rem;
    width: 13rem; 
    img {
        width: 100%; 
    }
    
    h3 {
        /* color: @black;
        padding: 1rem 0;  */
        .membername();
    }
    .member-title {
        .portrait-text(); 
        margin: 1rem 0 .5rem 0;
    }
    .member-quote {
        .portrait-text(); 
        margin: .2rem 0 .5rem 0;
    }
}

@media @mobile {
    .team {
        background-image: none;
        .card {
            img {
                width: 50%;
            }
            .flexcard-right(); 
            padding: 1rem; 
            .member-info {
                flex-direction: column;
                width: 50%;
                
                h3 {
                    .membername(); 
                }
            }
        }
        .left {
            .flexcard-left();
            .lft {
                text-align: right;
            } 
        }
    }
}

@media @small {
    .team {
        .gallery {
            // border: solid blue 1px;
            .card {
                flex-direction: column;
                width: 100%;
            }  
            img {
                width: 85%; 
                margin: 0 auto;
            } 
            
            .member-info {
                width: 100%;
                text-align: center;
                h3 {
                    font-weight: 700;
                }
            }
        }
    }
}

@media @widescreen {
    .gallery {
        .card {
            width: 10rem; 
        }
        .jons-pic {
            height: 13rem !important;
        }
    }
}







