.title {
    margin-top: 0;
    background-image: url("/img/cover.jpeg");
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    .flexrow(); 
    justify-content: center;
    
    h2{
        margin-top: 5.5rem;//check to remove later 
        color: @white;
        width: 50%; 
        font-size: 4rem;
        /* border: red solid 1px;  */
        text-align: center;

        span {
            font-style: italic;
            font-weight: bolder;

        }
    }
}