
//Colors
@primary: #235B2D; 
@blue: #2D6476;
@white: #F1F3F2;
@lightgray: #C9CFCA;
@darkgray: #79867C;
@black: rgba(48, 54, 49, 0.7); 

//media queries
@mobile: ~"(max-width: 500px)"; 
@widescreen: ~"(min-width: 1130px)";
@small: ~"(max-width: 399px) and (min-width: 250px)";





